#profile {
    border-radius: 10px;
    background-color: #985b10;
}

.profile-header {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.image-cropper {
    width: 20%;
    height: 20%;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid black;
    flex: 1;
}

.profile-pic {
    /* display: inline; */
    /* text-align: center; */
    /* margin: 0 auto; */
    /* margin-left: -40%; */
    height: 100%;
    width: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}