{% extends 'base.html' %}

{% block head_block %}
<title>Post {{ post.pk }}</title>
{% endblock %}

{% block body_block %}
<embed src="{{ post.meme_file.url }}" width="25%" height="auto">
<br>
<h4>by {{ user.username }}</h3>
<br>
<h3>Comments:</h4>
{% if not comments %}
    <h5>Looks like there are no comments yet.</h5>
{% else %}
    {% for comment in comments %}
        <a href="{% url 'accounts:profile' comment.memer.slug %}"><h5>{{ comment.memer }}</h5></a>
        <p>{{ comment.body }}</p>
        <br>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
    <h3>Add comment</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add</button>
    </form>
{% endif %}
{% endblock %}