{% extends 'base.html' %}

{% block head_block %}
{% load static %}
{% load filter_tags %}
<link rel="stylesheet" href="{% static 'css/LeaderboardBase.css' %}">
    {% block head_content %}
    {% endblock %}
{% endblock %}

{% block body_block %}
<nav class="leaderboard-navbar">
    <div class="leaderboard-nav-div" id="daily"><span class="links">Daily</span></div>
    <div class="leaderboard-nav-div" id="weekly"><span class="links">Weekly</span></div>
    <div class="leaderboard-nav-div" id="monthly"><span class="links">Monthly</span></div>
    <div class="leaderboard-nav-div" id="yearly"><span class="links">Yearly</span></div>
    <div class="leaderboard-nav-div" id="all-time"><span class="links">All Time</span></div>
</nav>
{% csrf_token %}
<ol>
    {% for post in leaderboard %}
        <li>
            <div class="post">
                <a href="{% url 'accounts:profile' post.memer.slug %}"><h3>{{ post.memer }}</h3></a>
                {% with post.memer.followers|split:"," as followers %}
                    {% if user.slug in followers %}
                    <p class="follow" post_pk="{{ post.pk }}" post_user="{{ post.memer.slug }}">Unfollow</p>
                    {% else %}
                    <p class="follow" post_pk="{{ post.pk }}" post_user="{{ post.memer.slug }}">Follow</p>
                    {% endif %}
                {% endwith %}
                <a href="{% url 'posts:view_post' post.pk %}"><embed src="{{ post.meme_file.url }}" width="25%" height="auto"></a>
                <br>
                {% with post.likes|split:"," as likes %}
                    {% if user.slug in likes %}
                    <h3 class="like" post_pk="{{ post.pk }}">Unlike Likes: {{ post.likes_amount }}</h3>
                    {% else %}
                    <h3 class="like" post_pk="{{ post.pk }}">Like Likes: {{ post.likes_amount }}</h3>
                    {% endif %}
                {% endwith %}
                <a href="{% url 'posts:view_post' post.pk %}"><h3>Comment</h3></a>
                <br>
            </div>
        </li>
    {% endfor %}
</ol>
<script>
    $(document).ready(function() {

        $(".leaderboard-nav-div").click(function() {
            if ($(this).attr("id") === "daily") {
                location.href = "{% url 'leaderboard:daily' %}"
            } else if ($(this).attr("id") === "weekly") {
                location.href = "{% url 'leaderboard:weekly' %}"
            } else if ($(this).attr("id") === "monthly") {
                location.href = "{% url 'leaderboard:monthly' %}"
            } else if ($(this).attr("id") === "yearly") {
                location.href = "{% url 'leaderboard:yearly' %}"
            } else if ($(this).attr("id") === "all-time") {
                location.href = "{% url 'leaderboard:all_time' %}"
            }
        })

    })
</script>
<script src="{% static 'js/LeaderboardBase.js' %}"></script>
{% endblock %}