{% extends 'base.html' %}

{% block head_block %}
{% load static %}
{% load filter_tags %}
<link rel="stylesheet" href="{% static 'css/post_list_base.css' %}">
<link rel="stylesheet" href="{% static 'css/LeaderboardBase.css' %}">
    {% block head_content %}
    {% endblock %}
{% endblock %}

{% block body_block %}
<nav class="leaderboard-navbar">
    <div class="leaderboard-nav-div" id="daily"><span class="links">Daily</span></div>
    <div class="leaderboard-nav-div" id="weekly"><span class="links">Weekly</span></div>
    <div class="leaderboard-nav-div" id="monthly"><span class="links">Monthly</span></div>
    <div class="leaderboard-nav-div" id="yearly"><span class="links">Yearly</span></div>
    <div class="leaderboard-nav-div" id="all-time"><span class="links">All Time</span></div>
</nav>
{% csrf_token %}
<ol>
    {% for post in leaderboard %}
        <div class="post">
            <div class="post-header">
                <!-- <div class="profile-pic"><img src="{{ post.user.profile_pic.url }}" alt="Profile Pic"></div> -->
                <a href="{% url 'accounts:profile' post.user.slug %}"><h3>{{ post.user }}</h3></a>
                {% if user.is_authenticated %}
                    {% if post.user in following %}
                        <p class="follow" post_pk="{{ post.pk }}" post_user="{{ post.user.slug }}">Unfollow</p>
                    {% else %}
                        <p class="follow" post_pk="{{ post.pk }}" post_user="{{ post.user.slug }}">Follow</p>
                    {% endif %}
                {% endif %}
            </div>
            
            <div><a href="{% url 'posts:view_post' post.pk %}"><embed src="{{ post.meme_file.url }}" width="100%" height="auto"></a></div>
            <br>
            <div class="post-footer">
                <div class="likes">
                    {% if user.is_authenticated %}
                        {% if post in likes %}
                            <h3 class="like" post_pk="{{ post.pk }}">Unlike</h3>
                        {% else %}
                            <h3 class="like" post_pk="{{ post.pk }}" >Like</h3>
                        {% endif %}
                    {% endif %}
                    <h3 class="likes_amount_post{{ post.pk }}">Likes: {{ post.likes_amount }}</h3>
                </div>
                <div class="dislikes">
                    {% if user.is_authenticated %}
                        {% if post in dislikes %}
                            <h3 class="dislike" post_pk="{{ post.pk }}">Undislike</h3>
                        {% else %}
                            <h3 class="dislike" post_pk="{{ post.pk }}" >Dislike</h3>
                        {% endif %}
                    {% endif %}
                    <h3 class="dislikes_amount_post{{ post.pk }}">Dislikes: {{ post.dislikes_amount }}</h3>
                </div>
                <div class="comments">
                    <a href="{% url 'posts:view_post' post.pk %}"><h3>Comment</h3></a>
                    <h3>Comments: {{ post.comments_amount }}</h3>
                </div>
                {% if user.is_authenticated %}
                    <div class="save-post">
                        {% if post in saved_posts %}
                            <h3 class="save" post_pk="{{ post.pk }}">Unsave</h3>
                        {% else %}
                            <h3 class="save" post_pk="{{ post.pk }}">Save</h3>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <br>
        </div>
    {% endfor %}
</ol>
<script>
    $(document).ready(function() {

        $(".leaderboard-nav-div").click(function() {
            if ($(this).attr("id") === "daily") {
                location.href = "{% url 'leaderboard:daily' %}"
            } else if ($(this).attr("id") === "weekly") {
                location.href = "{% url 'leaderboard:weekly' %}"
            } else if ($(this).attr("id") === "monthly") {
                location.href = "{% url 'leaderboard:monthly' %}"
            } else if ($(this).attr("id") === "yearly") {
                location.href = "{% url 'leaderboard:yearly' %}"
            } else if ($(this).attr("id") === "all-time") {
                location.href = "{% url 'leaderboard:all_time' %}"
            }
        })

    })
</script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}