.comments {
    padding: 0% 5% 5% 5%;
}

.add-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 95%;
    resize: none;
}

ul {
    list-style-type: none;
}

.add-comment {
    width: 100%;
}

.comment-like:hover {
    cursor: pointer;
}