.like:hover {
    cursor: pointer;
}

.dislike:hover {
    cursor: pointer;
}

#likes_amount:hover {
    cursor: default;
}

.post {
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-bottom: 2%; */
    background-color: whitesmoke;
    /* border-radius: 5%; */
    /* margin: 5% 5% 5% 5%; */
}

.post-header {
    /* border-radius: 50%; */
    /* margin-top: 10px; */
    border-top: 5px solid #985b10;
    margin-bottom: 10px;
    /* background-color: lightpink; */
    padding: 2% 5% 0% 5%;
    display: flex;
}

.post-footer {
    padding: 2% 5% 0% 5%;
    display: flex;
}

.likes {
    text-align: center;
    flex: 1;
}

.comments {
    text-align: center;
    flex: 1;
}

.follow {
    text-align: right;
    flex: 1;
}

.save-post {
    text-align: center;
    flex: 1;
}

.save:hover {
    cursor: pointer;
}

.profile-pic {
    /* height: 10px; */
    width: auto;
    border-radius: 100%;
}

.end-message {
    text-align: center;
}