.like:hover {
    cursor: pointer;
}

.dislike:hover {
    cursor: pointer;
}

#likes_amount:hover {
    cursor: default;
}

.post-profile-pic-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.post-profile-pic {
    height: 100%;
}

.post {
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-bottom: 2%; */
    background-color: whitesmoke;
    /* border-radius: 5%; */
    /* margin: 5% 5% 5% 5%; */
}

.post-header {
    /* border-radius: 50%; */
    /* margin-top: 10px; */
    border-top: 5px solid #985b10;
    margin-bottom: 10px;
    /* background-color: lightpink; */
    padding: 2% 5% 0% 5%;
    display: flex;
}

.post-footer {
    padding: 2% 5% 0% 5%;
    display: flex;
}

.likes {
    text-align: center;
    flex: 1;
}

.dislikes {
    text-align: center;
    flex: 1;
}

.comments {
    text-align: center;
    flex: 1;
}

.follow-container {
    text-align: right;
    align-self: flex-start;
    justify-self: flex-end;
    flex: 1;
}

.save-post {
    text-align: center;
    flex: 1;
}

.save:hover {
    cursor: pointer;
}

.end-message {
    text-align: center;
}