{% extends 'base.html' %}

{% block head_block %}
<title>Change {{ user.username }}'s password.</title>
{% endblock %}

{% block body_block %}
<h1>Change {{ user.username }}'s password.</h1>
<form method="POST" action="{% url 'accounts:validate_password_change' user.slug %}">
    {% csrf_token %}
    {% if incorrect_password %}
    <h2>The password you've entered is incorrect.</h2>
    {% endif %}
    <label for="old_password">Old password:</label>
    <input type="password" name="old_password" id="old_password">
    <br>
    {% if non_matching_passwords %}
    <h2>The passwords you've entered don't match.</h2>
    {% endif %}
    <label for="new_password1">New password:</label>
    <input type="password" name="new_password1" id="new_password1">
    <br>
    <label for="new_password2">New password (Again):</label>
    <input type="password" name="new_password2" id="new_password2">
    <br>
    <button type="submit">Confirm</button>
</form>
{% endblock %}