{% extends 'base.html' %}

{% block head_block %}
{% load static %}
<title>{{ user_profile.username }}'s Profile</title>
<link rel="stylesheet" href="{% static 'css/UserProfile.css' %}">
{% endblock %}

{% block body_block %}
<h1>{{ user_profile.username }}</h1>
<img src="{{ user_profile.profile_pic.url }}" alt="profile_pic">
<br>
<br>
<h1>Posts</h1>
{% if not posts %}
    <h2>Looks like there are no posts yet.</h2>
{% else %}
    {% for post in posts %}
        <a href="{% url 'posts:view_post' post.pk %}"><embed src="{{ post.meme_file.url }}" width="25%" height="auto"></a>
    {% endfor %}
{% endif %}
<br>
{% if user_current.is_authenticated %}
    {% if user_current == user_profile %}
        <a href="{% url 'accounts:logout' %}"><button class="button">Log Out</button></a>
        <br>
        <a href="{% url 'accounts:edit_profile' user.slug %}">Edit Profile</a>
    {% else %}
        <a href=""><button class="button">Message</button></a>
    {% endif %}
{% endif %}
{% endblock %}