{% extends 'base.html' %}

{% block body_block %}
{% if current_user != profile_user %}
<h1>Oops! Looks like you've stumbled onto the wrong page. Make sure you've entered the correct URL.</h1>
{% else %}
<h1>Followers</h1>

{% for follow in followers %}
    <a href="{% url 'accounts:profile' follow.follower.slug %}">{{ follow.follower.username }}</a>
    {% if follow.follower in following %}
        <span>Unfollow</span>
    {% else %}
        <span>Follow</span>
    {% endif %}
    <br>
{% endfor %}
{% endif %}
{% endblock %}