{% extends 'base.html' %}

{% block head_block %}
<title>{{ user.username }}'s Profile</title>
{% endblock %}

{% block body_block %}
<h1>{{ user.username }}</h1>
<img src="{{ user.profile_pic.url }}" alt="profile_pic">
<br>
<br>
<h1>Posts</h1>
{% if not posts %}
    <h2>Looks like you have no posts yet.</h2>
{% else %}
    {% for post in posts %}
        <a href="{% url 'posts:view_post' post.pk %}"><embed src="{{ post.meme_file.url }}" width="25%" height="auto"></a>
    {% endfor %}
{% endif %}
<br>
<a href="{% url 'accounts:logout' %}"><button class="button">Log Out</button></a>
<br>
<a href="{% url 'accounts:edit_profile' user.slug %}">Edit Profile</a>
{% endblock %}