<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ user.username }}'s profile.</title>
    </head>
    <body>
        <h1>{{ user.username }}'s Medical Entries</h1>
        <ul>
            {% for contribution in contributions %}
            <li><a href="{% url 'conditions:update_condition' user.username contribution.pk %}">{{ contribution }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'conditions:create_condition' user.username %}"><button>Add Condition</button></a>
    </body>
</html>