<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        {% block head_block %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <div id="brand"><a class="links" href="{% url 'home:home_page' %}">BRAND</a></div>
            <div class="nav-div" id="home"><span class="links">Home</span></div></a>
            <div class="nav-div" id="leaderboard"><span class="links">Leaderboard</span></div></a>
            {% if user.is_authenticated %}
            <div class="nav-div" id="chats"><span class="links">Chats</span></div></a>
            <div class="nav-div" id="profile"><span class="links">Profile</span></div></a>
            <div class="nav-btn"><a href="{% url 'posts:new_post' %}"><button class="button">Add Post</button></a></div>
            <div class="nav-btn"><a href="{% url 'accounts:logout' %}"><button class="button">Log Out</button></a></div>
            {% else %}
            <div class="nav-btn"><a href="{% url 'accounts:login' %}"><button class="button">Log In</button></a></div>
            <div class="nav-btn"><a href="{% url 'accounts:signup' %}"><button class="button">Sign Up</button></a></div>
            {% endif %}
        </nav>
        <div class="main-content">
            <div class="buffer"></div>
            <div class="middle-content">
            {% block body_block %}
            {% endblock %}
            </div>
            <div class="buffer"></div>
        </div>
    
    {% if user.is_authenticated %}
    <script>
        $(document).ready(function() {

            $(".nav-div").click(function() {
                if ($(this).attr("id") === "home") {
                    location.href = "{% url 'home:home_page' %}"
                } else if ($(this).attr("id") === "leaderboard") {
                    location.href = "{% url 'leaderboard:daily' %}"
                } else if ($(this).attr("id") === "chats") {
                    location.href = "{% url 'home:home_page' %}"
                } else if ($(this).attr("id") === "profile") {
                    location.href = "{% url 'accounts:profile' user.slug %}"
                }
            })

        })
    </script>
    {% else %}
    <script>
        $(document).ready(function() {

            $(".nav-div").click(function() {
                if ($(this).attr("id") === "home") {
                    location.href = "{% url 'home:home_page' %}"
                } else if ($(this).attr("id") === "leaderboard") {
                    location.href = "{% url 'leaderboard:daily' %}"
                }
            })

        })
    </script>
    {% endif %}
    </body>
</html>